<h1>Users</h1>
<ul>
<%@users.each do |user|%>
  <li><%=link_to "#{user.ln} (#{user.sn})", :action => :show, :id => user.api_key%></li>
<%end%>
</ul>
<%=link_to "New user", :action => :new%>
<br />
<% if flash[:success] %>
  <p class="notice"><%= flash[:success] %></p>
<% end %>
